<div>
    <h1>Danh sách dự án</h1>
    <v-row>
        <v-col :key="i" v-for="(item,i) in List">
            <v-card
                    class="mx-auto"
                    max-width="400"
                    height="250"
                    outlined
            >
                <v-list-item three-line>
                    <v-list-item-content>
                        <div class="mb-4 text-h4">
                             {{ item.name }}
                        </div>
                        <v-list-item-title class="text-h5 mb-1">
                           Giám đốc : {{ item.pm }}
                        </v-list-item-title>
                        <v-list-item-subtitle class="text-h6"> Số lượng thành viên : {{ item.teamsize }}</v-list-item-subtitle>
                        <v-list-item-subtitle class="text-h6"> Khách hàng : {{ item.customer }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-card-actions>
                    <v-btn
                            outlined
                            rounded
                            text
                    >
                        Chi tiết
                    </v-btn>
                </v-card-actions>

            </v-card>
        </v-col>
    </v-row>
</div>